resources:
  repositories:
  - repository: MicroBuildTemplate
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate
    ref: refs/tags/release
variables:
  ArtifactsDirectoryName: 'artifacts'
  BuildConfiguration: 'Release'
  BuildPlatform: 'Any CPU'
  DotNetVersion: '9.x'
  MSBuildArgs: '"/p:Platform=$(BuildPlatform)" "/p:Configuration=$(BuildConfiguration)" "/BinaryLogger:$(Build.SourcesDirectory)\$(ArtifactsDirectoryName)\msbuild.binlog"'
  SignType: 'Real'
trigger:
  batch: 'true'
  branches:
    include:
    - 'main'
    - 'rel/*'
    - 'refs/tags/*'
  paths:
    exclude:
    - '*.md'
pr: none
extends:
  template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
  parameters:
    sdl:
      sbom:
        enabled: false
    pool:
      name: VSEngSS-MicroBuild2022-1ES
      demands:
      - msbuild
      - visualstudio
      os: windows
    stages:
    - stage: ''
      displayName: 'Build'
      jobs:
      - job: Build
        displayName: 'Build'
        pool:
          name: 'VSEngSS-MicroBuild2022-1ES'
        templateContext:
          mb:
            signing:
              enabled: true
              signType: 'real'
              signWithProd: true
              zipSources: false
          outputs:
          - output: pipelineArtifact
            displayName: 'Publish Artifacts'
            condition: always()
            targetPath: '$(ArtifactsDirectoryName)'
            artifactName: $(ArtifactsDirectoryName)
        steps:
        - task: PowerShell@2
          displayName: 'Update Build Number, and Add Build Tag for tagged commits'
          condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/Microsoft.Build'))
          inputs:
            targetType: 'inline'
            script: |
              $buildTag = [System.Text.RegularExpressions.Regex]::Match("$(Build.SourceBranchName)", "Microsoft\.Build\.[\w\.]+.*")
              if($buildTag.Success -eq $true)
              {
                  Write-Host "Updating VSTS build number to ""$buildTag"""
                  Write-Host "##vso[build.updatebuildnumber]$buildTag"
                  Write-Host ""
                  Write-Host "Adding build tag ""$buildTag"""
                  Write-Host "##vso[build.addbuildtag]$buildTag"
              }
        - task: UseDotNet@2
          displayName: 'Install .NET $(DotNetVersion)'
          inputs:
            version: '$(DotNetVersion)'
            includePreviewVersions: true
        - task: VSBuild@1
          displayName: 'Build Solution'
          inputs:
            projects: 'MSBuildSdks.sln'
            msbuildArgs: '$(MSBuildArgs)'
            msbuildArchitecture: 'x64'
        - task: PowerShell@2
          displayName: 'Cleanup project.assets.json file'
          inputs:
            targetType: 'inline'
            script: |
              gci -r -fi project.assets.json | %{
                $j = Get-Content $_ -Raw | ConvertFrom-Json -AsHashtable
                if($j.targets){ foreach($t in $j.targets.Keys){
                  $j.targets[$t].Keys.Where({$_ -like 'System.Text.Json/*'})|%{ $j.targets[$t].Remove($_) } | Out-Null
                  foreach($k in $j.targets[$t].Keys){ if($j.targets[$t][$k].dependencies){ $j.targets[$t][$k].dependencies.Remove('System.Text.Json') | Out-Null } }
                }}
                if($j.libraries){ $j.libraries.Keys.Where({$_ -like 'System.Text.Json/*'})|%{ $j.libraries.Remove($_) } | Out-Null }
                if($j.projectFileDependencyGroups){ foreach($k in @($j.projectFileDependencyGroups.Keys)){
                  $j.projectFileDependencyGroups[$k] = @($j.projectFileDependencyGroups[$k] | ?{$_ -notmatch '^System\.Text\.Json(\s|$)'})
                }}
                $j | ConvertTo-Json -Depth 100 | Set-Content $_ -Encoding utf8
              }
