resources:
- repo: self

variables:
  ArtifactsDirectoryName: 'artifacts'
  BuildConfiguration: 'Debug'
  BuildPlatform: 'Any CPU'
  DotNet8Version: '8.x'
  DotNet9Version: '9.x'
  DotNet10Version: '10.x'   # Added
  MSBuildArgs: '"/p:Platform=$(BuildPlatform)" "/p:Configuration=$(BuildConfiguration)" "/BinaryLogger:$(Build.SourcesDirectory)\$(ArtifactsDirectoryName)\msbuild.binlog"'
  SignType: 'Test'

trigger:
  batch: 'true'
  branches:
    include:
    - 'main'
    - 'rel/*'
  paths:
    exclude:
    - '*.md'
pr:
  branches:
    include:
    - 'main'
    - 'rel/*'
  paths:
    exclude:
    - '*.md'

jobs:
- job: WindowsBuild
  displayName: 'Build and Test (Windows)'
  pool:
    vmImage: windows-latest
  steps:

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet8Version)'
    inputs:
      version: '$(DotNet8Version)'

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet9Version)'
    inputs:
      version: '$(DotNet9Version)'
      includePreviewVersions: true

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet10Version)'
    inputs:
      version: '$(DotNet10Version)'
      includePreviewVersions: true

  - task: DotNetCoreCLI@2
    displayName: 'Build Solution'
    inputs:
      command: 'build'
      arguments: '$(MSBuildArgs)'

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET Framework)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net472 /noautorsp'
      testRunTitle: 'Windows .NET Framework'
    condition: succeededOrFailed()

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 8.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net8.0 /noautorsp'
      testRunTitle: 'Windows .NET 8.0'
    condition: succeededOrFailed()

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 9.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net9.0 /noautorsp'
      testRunTitle: 'Windows .NET 9.0'
    condition: succeededOrFailed()

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 10.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net10.0 /noautorsp'
      testRunTitle: 'Windows .NET 10.0'
    condition: succeededOrFailed()

  - powershell: |
      $bin = "$(Build.SourcesDirectory)\$(ArtifactsDirectoryName)\bin"
      if (Test-Path $bin) { Remove-Item -LiteralPath $bin -Recurse -Force }
    displayName: 'Remove artifacts/bin (Windows)'
    condition: always()

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifacts'
    inputs:
      PathtoPublish: '$(ArtifactsDirectoryName)'
      ArtifactName: '$(ArtifactsDirectoryName)-win'
    condition: always()

- job: LinuxBuild
  displayName: 'Build and Test (Linux)'
  pool:
    vmImage: ubuntu-latest
  steps:

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet8Version)'
    inputs:
      version: '$(DotNet8Version)'

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet9Version)'
    inputs:
      version: '$(DotNet9Version)'
      includePreviewVersions: true

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet10Version)'
    inputs:
      version: '$(DotNet10Version)'
      includePreviewVersions: true

  - task: DotNetCoreCLI@2
    displayName: 'dotnet build'
    inputs:
      command: 'build'
      arguments: '$(MSBuildArgs)'

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 8.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net8.0 /noautorsp'
      testRunTitle: 'Linux .NET 8.0'
    condition: succeededOrFailed()

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 9.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net9.0 /noautorsp'
      testRunTitle: 'Linux .NET 9.0'
    condition: succeededOrFailed()

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 10.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net10.0 /noautorsp'
      testRunTitle: 'Linux .NET 10.0'
    condition: succeededOrFailed()

  - bash: |
      BIN_DIR="$(Build.SourcesDirectory)/$(ArtifactsDirectoryName)/bin"
      [ -d "$BIN_DIR" ] && rm -rf "$BIN_DIR"
    displayName: 'Remove artifacts/bin (Linux)'
    condition: always()

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifacts'
    inputs:
      PathtoPublish: '$(ArtifactsDirectoryName)'
      ArtifactName: '$(ArtifactsDirectoryName)-linux'
    condition: always()

- job: MacOSBuild
  displayName: 'Build and Test (Mac)'
  pool:
    vmImage: macOS-latest
  steps:

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet8Version)'
    inputs:
      version: '$(DotNet8Version)'

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet9Version)'
    inputs:
      version: '$(DotNet9Version)'
      includePreviewVersions: true

  - task: UseDotNet@2
    displayName: 'Install .NET $(DotNet10Version)'
    inputs:
      version: '$(DotNet10Version)'
      includePreviewVersions: true

  - task: DotNetCoreCLI@2
    displayName: 'dotnet build'
    inputs:
      command: 'build'
      arguments: '$(MSBuildArgs)'

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 8.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net8.0 /noautorsp'
      testRunTitle: 'MacOS .NET 8.0'
    condition: succeededOrFailed()

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 9.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net9.0 /noautorsp'
      testRunTitle: 'MacOS .NET 9.0'
    condition: succeededOrFailed()

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests (.NET 10.0)'
    inputs:
      command: 'test'
      arguments: '--no-restore --no-build --framework net10.0 /noautorsp'
      testRunTitle: 'MacOS .NET 10.0'
    condition: succeededOrFailed()

  - bash: |
      BIN_DIR="$(Build.SourcesDirectory)/$(ArtifactsDirectoryName)/bin"
      [ -d "$BIN_DIR" ] && rm -rf "$BIN_DIR"
    displayName: 'Remove artifacts/bin (macOS)'
    condition: always()

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifacts'
    inputs:
      PathtoPublish: '$(ArtifactsDirectoryName)'
      ArtifactName: '$(ArtifactsDirectoryName)-macOS'
    condition: always()